.home .user-info {
    box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaa, 6px 6px #aaa, 9px 3px #aaa;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
}

.home .user-info img.box {
    width: 100px;
    height: 100px;
}

.home div {
    padding: 10px;
}

.home .coin img {
    width: 30px;
    height: 30px;
}

.home .balance {
    padding: 0;
    border: 0;
    font-size: 0.7em;
}

.home .balance img {
    margin-left: 5px;
}

.home .user-info h1 {
    font-size: 1em;
}

@media (min-width: 750px){
    .home .user-info {
        width: 50vw;
    }

    .home .user-info img.box {
        width: 225px;
        height:225px;
    }

    .home .user-info h1 {
        font-size: 1.5em;;
    }

    .home .balance {
        font-size: 1em;
    }
}

