

label {
    margin-top: 20px;
}

.contact-edit input {
    float: right;
    width: 85vw;
}

.contact-edit .title {
    width: 120px;
    text-align: left;
    display: none;
    
}

.contact-edit h1 {
    text-align: left;
    font-size: 1.2em;
}

.contact-edit button {
    box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaa, 6px 6px #aaa, 9px 3px #aaa;
    margin-left: 20px;
    padding: 10px;
    font-family: mainFont;
    text-align: center;
}

.contact-edit button:hover {
    background-color: grey;
    color: #ffffff;
}

.contact-edit .btn-panel {
    margin-top: 30px;
    width: 100%;
}

@media (min-width: 750px){
    .contact-edit .title {
        display: block; 
    }

    .contact-edit input {
        float: right;
        width: 100%;
    }
    .contact-edit h1 {
        text-align: left;
        font-size: 1.5em;
    }
}
