.App-header {
    background-color: #000;
    height: 150px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .App-header h1 {
    font-size: 40px;
    width: 80%;
    display: none;
  } 
  
  
  .App-header img.logo {
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    font-size:10px;
    /* margin-left: 30px; */
  }

  .nav-bar a {
    text-decoration: none;
  }

  .nav-bar a:hover {
    color: #f7dc2c;
  }

  .nav-bar a:not(:last-child){
      margin-right: 20px;

 }

 .nav-bar img {
   width: 50px;
   height: 50px;
   /* object-fit: cover; */
 }

 @media (min-width: 750px){
  .App-header h1 {
      display: block;
  }

  .App-header img.logo {
    height: 100px;
    width: 100px;
  }
}

  