.transfer {
    margin:0;
}
.transfer button {
    box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaa, 6px 6px #aaa, 9px 3px #aaa;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    font-family: mainFont;
    text-align: center;
}

.transfer button:hover {
    background-color: grey;
    color: #ffffff;
}