@font-face {
  font-family: mainFont;
  src: url(./fonts/PressStart2P-Regular.ttf);
}

body {
  background-color: #000;
  color: #ffffff;
}

input {
    font-family: mainFont;
    padding: 0px 0px 10px 10px;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder { 
  font-family: mainFont;
  padding: 10px 0px 10px 0px;
}

ul{
  list-style: none;
  -webkit-padding-start: 0;
}

.App {
  text-align: center;
  font-family: mainFont;
}

.container {
  margin: auto 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.App-header h1 {
  font-size: 40px;
  width: 80%;
} 


.App-header img {
  position: relative;
  height: 100%;
  border-radius: 50%;
  float: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
