@import 'css/helpers.css';

@font-face {
  font-family: mainFont;
  src: url(./fonts/PressStart2P-Regular.ttf);
}

body {
  background-color: #000;
  color: #ffffff;
}

input {
    font-family: mainFont;
    padding: 10px 0px 10px 10px;
    box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaa, 6px 6px #aaa, 9px 3px #aaa;
    font-size: 1em;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder { 
  font-family: mainFont;
  padding: 10px 0px 10px 10px;
}

ul{
  list-style: none;
  -webkit-padding-start: 0;
}

.App {
  text-align: center;
  font-family: mainFont;
}

.container {
  margin: auto 20px;
}

a:visited {
  color: #ffffff;
}
a {
  color: #ffffff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contacts .add-btn {
  position: fixed;
  right: 15px;
  bottom: 15px;
  border: none;
  color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-shadow: 0;
  background-color: transparent;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 750px){
  .container {
    margin: auto 50px;
  }
 
  input {
    font-size: 30px;
    /* padding: 10px 0px 10px 10px; */
  }

}
